In [1]:
from scipy.io import arff
import pandas as pd

In [2]:
data = arff.loadarff(r"E:\ZIP1--clustering-benchmark-master\clustering-benchmark-master\src\main\resources\datasets\artificial\2d-3c-no123.arff")

In [3]:
df = pd.DataFrame(data[0])
df

           a0        a1 class
0   -0.499261 -0.061236  b'0'
1   -1.513690  0.265446  b'0'
2   -1.603210  0.362039  b'0'
3   -1.699280 -0.384246  b'0'
4   -2.299290 -0.358038  b'0'
..        ...       ...   ...
710  1.763780  0.291525  b'2'
711  0.534542 -0.221663  b'2'
712  1.302740  0.366262  b'2'
713  0.016068  0.213499  b'2'
714  0.561435 -0.170464  b'2'

[715 rows x 3 columns]

In [4]:
df.to_csv('data.csv', index = False)

In [5]:
df1 = pd.read_csv('data.csv')
df1

           a0        a1 class
0   -0.499261 -0.061236  b'0'
1   -1.513690  0.265446  b'0'
2   -1.603210  0.362039  b'0'
3   -1.699280 -0.384246  b'0'
4   -2.299290 -0.358038  b'0'
..        ...       ...   ...
710  1.763780  0.291525  b'2'
711  0.534542 -0.221663  b'2'
712  1.302740  0.366262  b'2'
713  0.016068  0.213499  b'2'
714  0.561435 -0.170464  b'2'

[715 rows x 3 columns]

In [6]:
df1['corrected_class'] = df1['class'].apply(lambda x : x.split("'")[1])
df1

           a0        a1 class corrected_class
0   -0.499261 -0.061236  b'0'               0
1   -1.513690  0.265446  b'0'               0
2   -1.603210  0.362039  b'0'               0
3   -1.699280 -0.384246  b'0'               0
4   -2.299290 -0.358038  b'0'               0
..        ...       ...   ...             ...
710  1.763780  0.291525  b'2'               2
711  0.534542 -0.221663  b'2'               2
712  1.302740  0.366262  b'2'               2
713  0.016068  0.213499  b'2'               2
714  0.561435 -0.170464  b'2'               2

[715 rows x 4 columns]

In [7]:
df2  =df1.drop('class', axis = 'columns')
df2

           a0        a1 corrected_class
0   -0.499261 -0.061236               0
1   -1.513690  0.265446               0
2   -1.603210  0.362039               0
3   -1.699280 -0.384246               0
4   -2.299290 -0.358038               0
..        ...       ...             ...
710  1.763780  0.291525               2
711  0.534542 -0.221663               2
712  1.302740  0.366262               2
713  0.016068  0.213499               2
714  0.561435 -0.170464               2

[715 rows x 3 columns]

In [8]:
input_set = df2.drop('corrected_class', axis = 'columns')
input_set

           a0        a1
0   -0.499261 -0.061236
1   -1.513690  0.265446
2   -1.603210  0.362039
3   -1.699280 -0.384246
4   -2.299290 -0.358038
..        ...       ...
710  1.763780  0.291525
711  0.534542 -0.221663
712  1.302740  0.366262
713  0.016068  0.213499
714  0.561435 -0.170464

[715 rows x 2 columns]

In [9]:
target_set = df2.corrected_class
target_set

0      0
1      0
2      0
3      0
4      0
      ..
710    2
711    2
712    2
713    2
714    2
Name: corrected_class, Length: 715, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [41]:
X,x,Y,y = train_test_split(input_set, target_set, train_size=0.7)

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
model = LogisticRegression(max_iter=1000)

In [44]:
model.fit(X,Y)

LogisticRegression(max_iter=1000)

In [45]:
model.score(x,y)

0.9906976744186047